
{% extends "base.html" %}
{%block content%}
{% load widget_tweaks %}

<script>
navigator.geolocation.getCurrentPosition(function(location) {
        var lat = location.coords.latitude;
        var long = location.coords.longitude;
        document.getElementById('id_lat').value = lat
        document.getElementById('id_long').value = long
    })
</script>

<style>
    .form-control{
        margin-bottom: 20px;
        width : 500px;
    }
</style>
<!--
        fields = ['name','city','address','rating','capacity','amenities']-->
<h3>Add New Apartment</h3>

   <form method="post"> {% csrf_token %}

       {% for field in form.visible_fields %}
          <div class="form-group container">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block alert alert-danger">{{ error }}</span>
            {% endfor %}
          </div>

    {% endfor %}
       <button onclick="getLocation()" style="margin-top:5px; margin-left:15px;" type="submit" value="Submit" class="form-control btn btn-primary btn-lg">Submit</button>
    </form>
    <div id="pp"></div>

{%endblock%}
